/* Styles for the whole page */
body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  background-color: #f2f2f2;
}


/* Header styles */
.main-header {
  background-color: black; 
  padding: 20px;
  text-align: center;
}

.title {
  margin: 0;
  font-size: 3em;
  color: #fffc00;    /* Snap's yellow */
}

.subtitle {
  margin: 10px 0;
  font-size: 1.2em;
  color: #fffc00;
}


/* Controls for search and sort*/
.controls {
  margin: 15px 0;
  display: flex;
  justify-content: center;
  gap: 10px;
}

#search-input, #sort-select {
  padding: 8px;
  border: 1px solid #ddd;
  border-radius: 4px;
}

#search-input {
  width: 170px;
}

#sort-select {
  width: 150px;
}

#card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 15px;
  margin: 20px;
}


/* Card styles */
.card {
  width: 250px;
  border: 1px solid #ddd;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  background-color: white;
  overflow: hidden;
}

.card-content {
  padding: 15px;
}

.card-content h2 {
  margin-top: 0;
  font-size: 18px;
  color: black;
}

.card img {
  width: 100%;
  height: 150px;
  object-fit: cover;
}

.description, .location, .price, .rating {
  margin: 15px;
  font-size: 14px;
}

.price {
  color: #1abf2a;
  font-weight: bold;
}

.rating {
  color: #ffa200;
  font-weight: bold;
}


/* Button styles */
button {
  background-color: black; 
  border: none;
  padding: 10px 20px;
  border-radius: 20px;
  color: #fffc00;    /* Snap's yellow */
  font-weight: bold;
  cursor: pointer;
}

button:hover {
  background-color: gray;
}


/* Button container and card buttons */
.button-container, .card-buttons {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}

.button-container {
  padding: 25px;
}

.button-container button {
  margin: 0 5px;
}

.card-buttons button {
  width: 45%;
  margin: 0 5px;
}


/* Footer styles */
.footer {
  background-color: black;
  color: #fffc00;    /* Snap's yellow */
  font-family: 'Times New Roman', Times, serif;
  text-align: center;
  padding: 15px;
}